/* Typographic Basics */
html {
  line-height: 22px;
  font-size: 14px;
  font-family: facitweb, "Lucida Grande", Helvetica, Arial, sans-serif;
}
i,em,cite { font-style: italic; }
b,strong { font-weight: bold; }

/* Headings */
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 11px;
}
/* Column Grids */

/*Baseline/Mobile Grid*/

.g978 #page {
  width: 300px; /*Total width works out to 312px*/
  padding: 22px 6px 22px 6px;
  background-image: url('grids/img/300px-6-27-6-8c.png');
}
#page {
  width: 96.153846153846%; /* 300px / 312px = 0.96153846153846 */
  padding: 22px 1.923076923077%; /* 6px / 312px = 0.01923076923077 */
}

p, ul ul, #information ul {
  margin-left: 39px;
  margin-left: 13%; /* 39px / 300px = .13 */
  margin-bottom: 22px;
}

ul ul li, #information ul li {
  margin-left: 39px;
  text-indent: -39px;
}

@media screen and (min-width: 760px) {
  .g978 #page {
    width: 748px; /*Total width works out to 768px*/
    padding: 0px 10px 0px 10px;
    background-image: url('grids/img/748px-10-44-10-12c.png');
  }
  #page {
    width: 97.39583333333%; /* 748px / 768px = 0.97395833333333 */
    padding: 0px 1.302083333333%; /* 10px / 768px = 0.01302083333333 */
  }
  h1 { padding-top: 44px; }
  h2 {
    position: absolute;
    width: 172px;
    left: 10px;
  }
  p, ul ul, #information ul {
    margin-left: 192px;
    margin-bottom: 22px;
  }
  p.tagline {
    margin-left: 0px;
    width: 428px;
  }
  ul ul li, #information ul li {
    margin-left: 64px;
    text-indent: -64px;
  }
  div#footer {
    font-size: 12px;
    padding-top: 22px;  
  }
}

@media screen and (min-width: 1010px) {
  /* See http://978.gs/ */
  .g978 #page {
    width: 978px; /*Total with works out to 1008*/
    padding: 0px 15px 0px 15px;
    background-image: url('grids/img/978px-15-54-15-12c.png');
  }
  h1 {
    margin-right: 336px;
  }
  p.tagline {
    position: absolute;
    width: 306px;
    left: 687px;
    top: 44px;
    background: #EEE;
    width: 262px;
    padding: 22px;
    top: 22px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px; 
    /*border-radius: 11px;*/
  }
  div#promo {
    margin-top: 110px;
    margin-right: 84px;
    padding-bottom: 44px;
  }
  ul#features {
    width: 642px;
    float: left;
  }
  div#information {
    background: #EEE;
    width: 262px;
    margin-left: 30px;
    float: left;
    padding: 22px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px; 
    /*border-radius: 11px;*/
  }
  div#information h2 {
    width: auto;
    position: static;
    margin-bottom: 22px;
  }
  div#information ul,
  div#information ul li {
    margin-left: 0px;
    text-indent: 0px;
    margin-bottom: 22px;
  }
  h2 {
    width: 222px;
    left: 15px;
  }
  p, ul ul {
    margin-left: 252px;
  }

  ul ul li {
    margin-left: 84px;
    text-indent: -84px;
  }
  div#footer { clear: both; }
}
